*{
    margin: 0;
    padding:0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:80vh;
    gap: 20px;
}

#number{
    font-size: 40px;
}
#generate-Btn{
    background-color: black;
    color: white;
    width: 10rem;
    height: 3rem;
    font-size: 18px;
}